/* ----------- Body styling ----------- */
body {
    background-image: url(images/star_background.jpg);
    backround-repeat: repeat repeat;
}

/* ----------- Title font ------------ */

@font-face {
    font-family: "Roddenberry";
    src: url("fonts/Roddenberry.ttf") format("truetype");
}

/* ----------- Navbar styling ----------- */

.navbar-brand {
    font-family: "Roddenberry";
    font-size: 3em;
}

.navbar-header {
    padding-top: 5px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-top: 10px;
}

/* center-align navbar elements */
@media (min-width: 500px) {
    .navbar .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .navbar-nav li {
        float: none;
        display: inline-block;
    }
}

main.container {
    max-width: 500px;
}

/* tweets styling */

#new-tweet {
    margin-bottom: 1.2em;
}

#new-tweet button {
    background-color: #1b85b8;
}

.tweet {
    margin-bottom: 1em;
    color: #aaaaaa;
}

.yellow-shirt .tweet-at {
    color: #a4aa5d;
}
.yellow-shirt .tweet-date {
    color: #a3a582;
}

.blue-shirt .tweet-at {
    color: #1b85b8;
}
.blue-shirt .tweet-date {
    color: #5999b7;
}

.red-shirt .tweet-at {
    color: #AE5A41;
}

.red-shirt .tweet-date {
    color: #ad7b6d;
}

.tweet-at {
    display: inline;    
}

.tweet-date {
    float: right;
    display: inline;
    text-align: right;
}