/* ----------- Body styling ----------- */
body {
    background-image: url(images/star_background.jpg);
    backround-repeat: repeat repeat;
}

main.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    box-shadow: black 0 0 40px;
}

@media (min-width: 500px) {
    main.container {
        border-radius: 4px;
        margin-bottom: 20px;
    }
}

/* ----------- Title font ------------ */

@font-face {
    font-family: "Roddenberry";
    src: url("fonts/Roddenberry.ttf") format("truetype");
}

/* ----------- alert ----------- */
.alert {
    display: none;
}

/* ----------- Navbar styling ----------- */

.navbar-brand {
    font-family: "Roddenberry";
    font-size: 5em;
    text-shadow: black 0 0 4px;
}

.navbar-header {
    padding-top: 5px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-top: 10px;
}

/* center-align navbar elements */
.navbar .navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

main.container {
    max-width: 500px;
}

/* tweets styling */

#new-tweet {
    margin-bottom: 1.2em;
}

#new-tweet button {
    background-color: #1b85b8;
}

.tweet {
    margin-bottom: 1em;
    color: #888888;
/*    text-shadow: #444444 0 0 4px;*/
}

.yellow-shirt .tweet-at {
    color: #B59C5A;
}
.yellow-shirt .tweet-date {
    color: #b5a479;
}

.blue-shirt .tweet-at {
    color: #1b85b8;
}
.blue-shirt .tweet-date {
    color: #5999b7;
}

.red-shirt .tweet-at {
    color: #AE5A41;
}

.red-shirt .tweet-date {
    color: #ad7b6d;
}

.tweet-at {
    display: inline;
    font-size: 16px;
    font-weight: bold;
}

.tweet-date {
    float: right;
    display: inline;
    font-size: 12px;
    text-align: right;
}

/* ----------- Modal styling ------------- */

.modal-body .tweet {
    text-shadow: none;
}

.modal-title {
    display: inline;
    font-size: 22px;
}
